<!DOCTYPE html>
<head> 
    <title>Home</title>
</head>
<body> 
    <h1>Home</h1>
    <p>This is the home page.</p>
    <a href="/chat" style="color:rgb(93, 55, 6);">聊天页面</a>
    <a href="/manage" style="color:rgb(93, 55, 6);">管理页面</a>
    <p> 更多页面正在开发中，敬请期待！</p>
    <br><br>

    <h3>用户使用须知和协议</h3>
    <p>1.本网站目前正在测试开发中，尚未申请相关备案，故暂不公开也不允许公开相关链接、IP地址。</p>
    <p>2.严禁恶意攻击本网站的服务器。如有相关行为，我们将联系警方处理。</p>
    <p>3.本网站禁止被用于非法用途，禁止在聊天室内发布违反有关法律法规的内容。严禁发布反党反社会主义的内容，严禁恶意营造恐慌情绪、未经允许非法组织集会、游行等活动、抹黑党和国家的形象、造谣污蔑领导干部。如有发现违法违规内容，网站开发方将采取措施紧急处理相关言论，并封禁违规的IP地址。</p>
    <p>4.如遇侵犯您权益的内容，请联系网站开发方。我们将在8个自然日内依法依规处理相关违规言论，并协助您保留相关证据，以便后续您的维权。邮箱：bright2024_2035@163.com</p>
    <p>5.本网站随时可能暂时关闭。这可能是测试需要，也可能是紧急处理相关严重违法犯罪内容的需要，也可能是国家有关机关工作需要，请谅解。</p>
    <p>6.本网站将会把您发送的消息存储到服务器，直到100条新的消息生成。我们承诺不会讲您的IP地址、消息内容等信息用于其他非法用途。您对您的消息拥有著作权等权利。</p>
</body>